# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environnements virtuels
venv/
env/
.venv/
.env/

# Variables d'environnement
.env
*.env

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
